body {
  font-family: Arial, sans-serif;
  background-color: #95fff6;
  padding: 250px;
}
form {
  background: #00ffea;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  margin: auto;
}
input,
select {
  width: 100%;
  padding: 8px;
  margin: 5px 0;
  border: 1px solid #000000;
  border-radius: 4px;
}
button {
  background: #ffae00;
  color: #000000;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 48%;
  margin: 5px 1%;
}
button:hover {
  background: #909290;
}
.error {
  color: red;
  font-weight: bold;
}
.result {
  margin-top: 20px;
  padding: 10px;
  background: #ffae00;
  border-radius: 4px;
}
.history {
  margin-top: 20px;
  padding: 10px;
  background: #ffae00;
  border-radius: 4px;
}
